body {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
}

#logo {
    background-color: white;
    width: 100px;
    height: auto;
}

header, .logo, .header-links {
    display: flex;
    align-items: center;
}

.logo, .header-links {
    gap: 20px;
}

header {
    background-color: rgb(40, 40, 40);
    padding: 15px 160px;
    justify-content: space-between;
}

h1 {
    font-size: 24px;
    color: #f9faf8;
}

h3 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

h4 {
    font-size: 36px;
    font-weight: bolder;
}

h5 {
    font-size: 24px;
    color: #f9faf8;
}

a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.main {
    background-color: rgb(40, 40, 40);
    padding: 60px 160px;
    display: flex;
    gap: 20px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    gap: 20px;
}

.resortimg {
    background-image: url(./media/resort.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex: 1.4;
}

.info p {
    font-size: 18px;
    line-height: 30px;
    color: #e5e7eb;
}

.info button {
    align-self: flex-start;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #3882f6;
    color: white;
}

.activity {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 160px 60px 160px;
    gap: 30px;
}

.bar {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 40px;
}

.barimg {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

.snowboard, .ski, .terrain, .lodge {
    width: 250px;
    height: 250px;
    border: 8px solid rgb(58, 137, 255, 0.5);
    border-radius: 15px;
    background-size: cover;
}

.snowboard {
    background-image: url(./media/snowboard.jpeg);
    background-position: 50% 100%;
}

.ski {
    background-image: url(./media/ski.jpeg);
    background-position: 50% 100%;
}

.terrain {
    background-image: url(./media/terrain.jpeg);
    background-position: 100% 100%;
}

.lodge {
    background-image: url(./media/lodge.jpeg);
    background-position: 50% 100%;
}

.quote {
    height: 400px;
    width: auto;
    text-align: center;
    padding: 30px;
    background-image: url(./media/mountain.jpeg);
    background-size: cover;
    background-position: 50% 80%;
}

.quote p {
    font-size: 36px;
    font-style: italic;
    background-color: rgb(0, 0, 0, 0.5);
    color: #f9faf8;
}

.cta {
    padding: 60px 160px;
}

.cta, .ctabox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ctabox {
    background-color: #3882f6;
    padding: 30px 60px;
    border-radius: 10px;
    gap: 60px;
}

.ctatext {
    display: flex;
    flex-direction: column;
}

.ctatext p {
    color: #f9faf8;
}

.ctabutton button {
    background-color: #3882f6;
    padding: 5px 10px;
    border-radius: 5px;
    border: 3px solid #f9faf8;
    color: #f9faf8;
}

.footer {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 30px;
    background-color: rgb(40, 40, 40);
}

.footer p {
    color: #f9faf8;
}